* {
	padding: 0;
	margin: 0;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
}

html {
	width: 100%;
}

body {
	height: 3600px;
	width: 100%;
	display: flex;
	background-image: url(../images/gradient-background.png);
	background-repeat: repeat-y;
	background-color: #0f0f0f;
	background-size: 1920px;

	@media only screen and (max-width: 1060px) {
		flex-direction: column;
	}
}

.nav {
	width: 220px;
	height: 290px;
	padding-top: 70px;
	margin-left: 20px;
	@media only screen and (max-width: 1060px) {
		width: 100%;
		height: 60px;
		background-color: white;
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: flex-end;
		flex-wrap: wrap;
	}

	&__sticky {
		position: sticky;
		top: 0;
		margin-bottom: auto;
	}

	&__name {
		color: white;
		margin-bottom: 10px;
		font-weight: bold;
		@media only screen and (max-width: 1060px) {
			color: #ed7453;
			margin: 0;
		}
	}

	& > ul {
		padding: 20px;
		list-style-type: none;
		height: 80px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-end;
		gap: 15px;
		margin-right: 10px;
		font-size: 20px;
		@media only screen and (max-width: 1060px) {
			width: 100%;
			margin-right: 0;
			flex-direction: row;
			justify-content: flex-end;
			height: auto;
			align-items: center;
			flex-wrap: wrap;
			background-color: white;
		}
	}

	& > ul > li {
		min-width: 110px;
		text-align: right;
	}

	& > ul > li > a {
		text-decoration: none;
		color: white;
		font-weight: lighter;
		@media only screen and (max-width: 1060px) {
			color: black;
		}
	}

	> ul > li > a:hover {
		color: white;
		text-decoration: underline;
		@media only screen and (max-width: 1060px) {
			color: black;
		}
	}

	&__images {
		display: flex;
		margin-right: 44px;
		margin-top: 20px;
		width: 30px;
		height: 30px;
		gap: 10px;

		@media only screen and (max-width: 1060px) {
			align-items: center;
			justify-content: center;
			margin-top: 0;
			margin-right: 0;
		}

		&__wrapper {
			@media only screen and (max-width: 1060px) {
				background-color: #ed7453;
				border-radius: 10px;
				width: 100px;
				height: 50px;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}

		& > img {
			width: 100%;
			height: 100%;
		}
	}
}

.content__wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	gap: 80px;
	margin-left: 50px;
	@media only screen and (max-width: 1060px) {
		margin: 0;
	}
}

.about {
	height: auto;
	width: 100%;
	color: white;
	@media only screen and (max-width: 1060px) {
		margin-top: 70px;
	}
}

.header {
	text-align: left;
	width: 100%;

	&__text__wrapper {
		max-width: 670px;
		margin-left: 20px;
		@media only screen and (max-width: 1060px) {
			margin-left: 20px;
		}
		@media only screen and (max-width: 767px) {
			padding-top: 50px;
		}
	}

	&__title {
		font-size: 40px;
		font-weight: 400;
		margin-top: 70px;
		color: white;
	}

	&__subtitle {
		font-size: 22px;
		font-weight: 199;
		margin-top: 40px;
		margin-bottom: 30px;
		font-weight: lighter;
		color: white;

		&--bold {
			font-weight: bold;
		}
	}
}

.skills {
	text-align: left;
	color: white;
	width: 100%;

	&__content__wrapper {
		max-width: 670px;
		margin-left: 20px;
		@media only screen and (max-width: 767px) {
			margin-top: 70px;
		}
	}

	&__phone {
		width: 312.313px;
		height: 149.707px;
		margin-left: 60px;
		margin-top: 40px;
		@media only screen and (max-width: 767px) {
			margin-left: 0;
		}
	}
}

.projects {
	text-align: left;
	color: white;
	width: 100%;

	&__content__wrapper {
		margin-left: 20px;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		gap: 50px;
		@media only screen and (max-width: 767px) {
			margin-top: 70px;
		}
	}

	&__card {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		gap: 50px;
		@media only screen and (max-width: 1060px) {
			flex-direction: column-reverse;
		}

		&__images {
			display: flex;
			gap: 50px;
			margin-left: 70px;
			@media only screen and (max-width: 1060px) {
				display: block;
			}
			@media only screen and (max-width: 767px) {
				text-align: left;
				margin-left: 0;
			}

			& > img {
				@media only screen and (max-width: 767px) {
					max-width: 200px;
					max-height: 200px;
				}
			}
		}
		&__text__wrapper {
			max-width: 670px;
		}

		&__title {
			margin-left: 55px;
			margin-bottom: 10px;
			@media only screen and (max-width: 767px) {
				margin-left: 0;
			}
		}
		&__description {
			display: flex;
			margin-left: 45px;
			gap: 50px;
			@media only screen and (max-width: 1060px) {
				flex-direction: column;
				flex-wrap: wrap;
				gap: 25px;
				margin-left: 0;
			}
			@media only screen and (max-width: 767px) {
				margin-left: 0;
			}
		}
		&__icons {
			width: 30px;
			height: 30px;
			margin-top: 50px;
			display: flex;
			flex-direction: column;
			gap: 10px;
			@media only screen and (max-width: 1060px) {
				flex-direction: row;
				margin-top: 0;
				margin-left: 60px;
			}
			@media only screen and (max-width: 767px) {
				margin-left: 0px;
			}
			& > img {
				width: 100%;
				height: 100%;
			}
		}
	}
}
.contact {
	margin-left: 20px;
	margin-bottom: 180px;
	&__wrapper {
		margin-left: 44px;
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	&__info {
		display: flex;
		color: white;
		align-items: center;
		gap: 10px;
		& > p {
			line-height: 45px;
			font-size: 20px;
			font-weight: lighter;
		}
	}

	&__images {
		width: 30px;
		height: 30px;

		& > img {
			width: 100%;
			height: 100%;
		}
	}
}

.image {
	&--rotated {
		transform: rotate(60deg);
	}
}

.text {
	&--regular {
		max-width: 670px;
		line-height: 45px;
		font-size: 25px;
		font-weight: lighter;
		margin-left: 55px;
		color: white;
		@media only screen and (max-width: 767px) {
			margin-left: 0;
			max-width: 350px;
			font-size: 20px;
		}
	}

	&--bold {
		font-weight: bold;
	}
}
