* {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html {
  width: 100%;
}

body {
  height: 3600px;
  width: 100%;
  display: flex;
  background-image: url(../images/gradient-background.png);
  background-repeat: repeat-y;
  background-color: #0f0f0f;
  background-size: 1920px;
}
@media only screen and (max-width: 1060px) {
  body {
    flex-direction: column;
  }
}

.nav {
  width: 220px;
  height: 290px;
  padding-top: 70px;
  margin-left: 20px;
}
@media only screen and (max-width: 1060px) {
  .nav {
    width: 100%;
    height: 60px;
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
}
.nav__sticky {
  position: sticky;
  top: 0;
  margin-bottom: auto;
}
.nav__name {
  color: white;
  margin-bottom: 10px;
  font-weight: bold;
}
@media only screen and (max-width: 1060px) {
  .nav__name {
    color: #ed7453;
    margin: 0;
  }
}
.nav > ul {
  padding: 20px;
  list-style-type: none;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 15px;
  margin-right: 10px;
  font-size: 20px;
}
@media only screen and (max-width: 1060px) {
  .nav > ul {
    width: 100%;
    margin-right: 0;
    flex-direction: row;
    justify-content: flex-end;
    height: auto;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
  }
}
.nav > ul > li {
  min-width: 110px;
  text-align: right;
}
.nav > ul > li > a {
  text-decoration: none;
  color: white;
  font-weight: lighter;
}
@media only screen and (max-width: 1060px) {
  .nav > ul > li > a {
    color: black;
  }
}
.nav > ul > li > a:hover {
  color: white;
  text-decoration: underline;
}
@media only screen and (max-width: 1060px) {
  .nav > ul > li > a:hover {
    color: black;
  }
}
.nav__images {
  display: flex;
  margin-right: 44px;
  margin-top: 20px;
  width: 30px;
  height: 30px;
  gap: 10px;
}
@media only screen and (max-width: 1060px) {
  .nav__images {
    align-items: center;
    justify-content: center;
    margin-top: 0;
    margin-right: 0;
  }
}
@media only screen and (max-width: 1060px) {
  .nav__images__wrapper {
    background-color: #ed7453;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.nav__images > img {
  width: 100%;
  height: 100%;
}

.content__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 80px;
  margin-left: 20px;
}
@media only screen and (max-width: 1060px) {
  .content__wrapper {
    margin: 0;
  }
}

.about {
  height: auto;
  width: 100%;
  color: white;
}
@media only screen and (max-width: 1060px) {
  .about {
    margin-top: 70px;
  }
}

.header {
  text-align: left;
  width: 100%;
  margin-left: 50px;
}
@media only screen and (max-width: 1060px) {
  .header {
    margin-left: 0px;
  }
}
.header__text__wrapper {
  max-width: 670px;
}
@media only screen and (max-width: 1060px) {
  .header__text__wrapper {
    margin-left: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .header__text__wrapper {
    padding-top: 50px;
  }
}
.header__title {
  font-size: 40px;
  font-weight: 400;
  margin-top: 70px;
  color: white;
}
.header__subtitle {
  font-size: 22px;
  font-weight: 199;
  margin-top: 40px;
  margin-bottom: 30px;
  font-weight: lighter;
  color: white;
}
.header__subtitle--bold {
  font-weight: bold;
}

.skills {
  text-align: left;
  color: white;
  width: 100%;
}
.skills__content__wrapper {
  max-width: 670px;
  margin-left: 20px;
}
@media only screen and (max-width: 768px) {
  .skills__content__wrapper {
    margin-top: 70px;
  }
}
.skills__phone {
  width: 312.313px;
  height: 149.707px;
  margin-left: 60px;
  margin-top: 40px;
}
@media only screen and (max-width: 768px) {
  .skills__phone {
    margin-left: 0;
  }
}

.projects {
  text-align: left;
  color: white;
  width: 100%;
}
.projects__content__wrapper {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 50px;
}
@media only screen and (max-width: 768px) {
  .projects__content__wrapper {
    margin-top: 70px;
  }
}
.projects__card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 50px;
}
@media only screen and (max-width: 1060px) {
  .projects__card {
    flex-direction: column-reverse;
  }
}
.projects__card__images {
  display: flex;
  gap: 50px;
  margin-left: 70px;
}
@media only screen and (max-width: 1060px) {
  .projects__card__images {
    display: block;
  }
}
@media only screen and (max-width: 768px) {
  .projects__card__images {
    text-align: left;
    margin-left: 0;
  }
}
@media only screen and (max-width: 768px) {
  .projects__card__images > img {
    max-width: 200px;
    max-height: 200px;
  }
}
.projects__card__text__wrapper {
  max-width: 670px;
}
.projects__card__title {
  margin-left: 55px;
  margin-bottom: 10px;
}
@media only screen and (max-width: 768px) {
  .projects__card__title {
    margin-left: 0;
  }
}
.projects__card__description {
  display: flex;
  margin-left: 45px;
  gap: 50px;
}
@media only screen and (max-width: 1060px) {
  .projects__card__description {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 25px;
    margin-left: 0;
  }
}
@media only screen and (max-width: 768px) {
  .projects__card__description {
    margin-left: 0;
  }
}
.projects__card__icons {
  width: 30px;
  height: 30px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media only screen and (max-width: 1060px) {
  .projects__card__icons {
    flex-direction: row;
    margin-top: 0;
    margin-left: 60px;
  }
}
@media only screen and (max-width: 768px) {
  .projects__card__icons {
    margin-left: 0px;
  }
}
.projects__card__icons > img {
  width: 100%;
  height: 100%;
}

.contact {
  margin-left: 20px;
  margin-bottom: 180px;
}
.contact__wrapper {
  margin-left: 44px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact__info {
  display: flex;
  color: white;
  align-items: center;
  gap: 10px;
}
.contact__info > p {
  line-height: 45px;
  font-size: 20px;
  font-weight: lighter;
}
.contact__images {
  width: 30px;
  height: 30px;
}
.contact__images > img {
  width: 100%;
  height: 100%;
}

.image--rotated {
  transform: rotate(60deg);
}

.text--regular {
  max-width: 670px;
  line-height: 45px;
  font-size: 25px;
  font-weight: lighter;
  margin-left: 55px;
  color: white;
}
@media only screen and (max-width: 768px) {
  .text--regular {
    margin-left: 0;
    max-width: 350px;
    font-size: 20px;
  }
}
.text--bold {
  font-weight: bold;
}
